*{margin:0; padding: 0; box-sizing: border-box; font-family: 'Red Hat Display' ,sans-serif}

.calendar{
    width: 80%;
    margin: 30px auto;
    height: 80vh;
}

.calendarUser, .calendarManager{
    width: 80%;
    margin: 30px auto;
    height: 80vh;
}
